* {
  margin: 0;

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  /*functional css*/
  --vertical-padding: 25rem;
  --regular-font-size: 1rem;
  --menu-font-size: clamp(14px, 2.5vw, 16px);
  --line-space-size: 3rem;
  --font-family: "IBM Plex Mono", monospace;
  --title-h2-xl: 5rem;
  --title-h1-xl: 4rem;
  --title-h1-l: 2.5rem;
  --title-h3-l: 1.5rem;
  --background-color: rgb(11, 11, 11);
  --border-btn-stnrd: 1px solid rgb(70, 70, 70);


  background-color: rgb(11, 11, 11);
  margin: auto 9rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: normal;
  color: #fff;
}

h1 {
  font-size: var(--title-h1-xl)
}

h2 {
  font-size: var(--title-h1-l)
}

p {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  font-size: var(--regular-font-size);
  line-height: var(--line-space-size);

}

li a {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  text-decoration: none;
  font-size: var(--regular-font-size);
  margin: 0;
  padding: 0;
  position: relative;
  text-decoration: none;
}

li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 1px;
  background: #00ff15;
  transition: width 0.3s ease;
}

li a:hover {
  transform: translateY(-2px);
  text-shadow: 0 0 8px #ffffff,
    0 0 16px #ffffff;
  background-color: transparent;

}

li a:hover::after {
  width: 100%;
}


/* menu */

.nav {
  display: flex;
  padding: 28px 60px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(70, 70, 70);
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: var(--background-color);

}

.menu {
  transition: all 0.3s ease;
}

.menu ul {
  display: inline-flex;
  justify-content: right;
  gap: 35px;
}

.logo img {
  height: 80px;
  width: auto;
}

.toggle-hamburger {
  display: none;
  font-size: 24px;
  color: #fff;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.toggle-hamburger span {
  width: 25px;
  height: 3px;
  background: white;
  display: block;
  transition: all 0.3s ease;
}

.toggle-hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.toggle-hamburger.active span:nth-child(2) {
  opacity: 0;
}

.toggle-hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

.toggle-hamburger.active {
  transform: scale(1.1);
}

/*end of menu*/

/*banner*/

.banner {
  padding: 50px 60px;
  display: flex;
  gap: 4rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(70, 70, 70);
}

.image img {
  width: auto;
  height: 300px;
  border-radius: 50%;
  border: 6px solid white;
  object-fit: cover;

}

.banner p {
  line-height: 2rem;

}

/*End of Banner*/

.about {
  padding: 28px 60px;
  margin-bottom: 2.5rem;
  border-bottom: 1px solid rgb(70, 70, 70);
}

.about p {
  line-height: 2.5rem;
}

ul li::marker {
  color: rgb(255, 255, 255);
  /* change to any color */
}



/* skill */

.skill {
  text-align: center;
  margin-bottom: 2.5rem;
  padding: 28px 60px;
  border-bottom: 1px solid rgb(70, 70, 70);


}

ul.icons-skill {
  display: flex;
  text-align: center;
  gap: 15px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* -> for responsiveness */
  padding: 20px 0;

}

ul.icons-skill li img {
  height: 45px;
  width: auto;

}

/* End of Skill */

/*Project*/
.project {
  padding: 28px 60px;
  border-bottom: 1px solid rgb(70, 70, 70);
}

.projList {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 2fr;
  align-items: center;
  border-bottom: 2px solid #373737;
  padding: 15px 0px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  text-decoration: none;
  font-size: var(--regular-font-size);
}

.projList img {
  height: 32px;
  width: auto;
  margin: 0 5px;
}

.projList a {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  text-decoration: none;
  font-size: var(--regular-font-size);
}

.projLogo {
  text-align: right;
}

/*start of github section*/

.githubsection {
  padding: 35px 0;
}


p.typewritter {
  overflow: hidden;
  border-right: 1rem solid #ffffff;
  white-space: nowrap;
  /* margin: 0 auto; */
  display: inline-block;
  animation:
    typing 3.5s steps(35, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 25%
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  20% {
    border-color: rgb(255, 255, 255);
  }
}

/*end of project

/*services*/

.services {
  padding: 28px 60px;
}

.servicelist {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 2fr 2fr;
  gap: 35px;
  margin-top: 35px;

}

.servicelist p {
  line-height: 2rem;
}

.services-offer {
  border: 2px solid #373737;
  padding: 15px;
  border-radius: 20px;
}

/*end of services*/

/*Start of experience*/
.experience {
  padding: 28px 60px;
  /* border-bottom: 1px solid rgb(70, 70, 70); */
}

.expiList {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 2fr;
  gap: 15px;
  align-items: center;
  border-bottom: 2px solid #373737;
  padding: 15px 0px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  text-decoration: none;
  font-size: var(--regular-font-size);
}

.expiList img {
  height: 45px;
  width: auto;
  margin: 0 5px;
}

.expiList a {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  text-decoration: none;
  font-size: var(--regular-font-size);
}

/*End of Experiences*/

/*Start of Contact*/
.contactus {
  padding: 42px 60px;
  border-bottom: 1px solid rgb(70, 70, 70);
}

.contactus h2 {
  text-align: center;
}

.contactus h2 {
  padding-bottom: 1rem;
}

.contact-info h2 {
  font-size: var(--title-h1-l);
  text-align: left;
  padding: 0;
}

.contact-section {
  display: grid;
  grid-template-columns: 2fr 2fr;
}

form {
  font-family: var(--font-family);
}

.contact-form form {
  width: 100%;
}

/*get in touch*/

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group input,
.input-group textarea {
  width: 100%;
  padding: 14px;
  background: transparent;
  border: 1px solid #444;
  color: #fff;
  outline: none;
  border-radius: 8px;
}

.input-group label {
  position: absolute;
  left: 12px;
  top: 14px;
  color: #777;
  font-size: 0.85rem;
  pointer-events: none;
  transition: 0.3s;
  background: #0f0f0f;
  padding: 0 5px;
}

/* Floating effect */
.input-group input:focus+label,
.input-group input:valid+label,
.input-group textarea:focus+label,
.input-group textarea:valid+label {
  top: -8px;
  font-size: 0.7rem;
  color: #ffffff;
}

/* Button */
button {
  width: 100%;
  padding: 14px;
  border: none;
  color: #000;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  background-color: #e3e3e3;
  color: #000000;
  border: 1px solid #fff;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 15px #1aff00;
}


/*footer*/

.footer {
  padding: 45px 60px;
  color: #fff;
  border-bottom: 1px solid rgb(70, 70, 70);

}


.social-media {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  justify-content: space-between;

}

.socmed a {
  color: #fff;
  font-family: var(--font-family);
  text-decoration: none;
  font-size: 2rem;
}

.socmed a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background: #00ff15;
  transition: width 0.3s ease;
}

.socmed a:hover {
  transform: translateY(-2px);
  text-shadow: 0 0 8px #00ff15,
    0 0 16px #00ff15;
  background-color: transparent;

}

.footernote p {
  padding: 35px 0;
  text-align: center;
  line-height: 18px;
}

/*floating button*/
.floating-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  /* Hidden by default */
  background-color: #000000;
  border: 1px solid #e3e3e3;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
  width: 60px;
  height: 60px;
}

a .floating-btn {
  border: 2px solid #e3e3e3;
}

/* Media query */
@media (max-width:1024px) {
  body {
    margin: auto 2rem;
  }

  .nav {
    padding: 28px 40px;
  }

  ul.icons-skill li img {
    height: 40px;
  }

}

@media (max-width: 768px) {
  .nav {
    padding: 28px 0px;
  }

  .menu {
    top: 100px;
    right: 1px;
    display: none;
    position: absolute;
    background-color: rgb(16 16 16);
    font-size: var(--menu-font-size);
  }

  .menu ul li {
    padding: 5px 5px;
    border-bottom: var(--border-btn-stnrd)
  }

  .menu ul {
    padding: 0;
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }

  .menu.active {
    display: flex;
    width: 100%;
  }

  .toggle-hamburger {
    display: flex;
  }

  .banner {
    text-align: center;
    flex-direction: column;
    padding: 28px 10px;
  }

  ul.icons-skill li img {
    height: 35px;
  }

  .skill {
    padding: 28px 0;
  }

  .about,
  .project,
  .services,
  .experience,
  .contactus {
    padding: 28px 10px;
  }

  .servicelist {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 35px;
    margin-top: 35px;
  }

  .social-media a {
    font-size: 1.5rem;
  }

}

@media (max-width: 600px) {

  .toggle-hamburger {
    padding: 7px;
  }

  body {
    margin: 0;

  }

  .banner {
    padding: 50px 10px;
  }

  .about {
    padding: 28px 10px;
  }

  .projList {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 10px;
  }

  .projLogo {
    text-align: center;
  }

  .experience {
    border-bottom: none;
  }

  .expiList .projLogo {
    order: -1;
    /*   to re-arrange the section  */
    text-align: center;
  }

  .expiList {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    gap: 10px;
  }

  .contact-section {
    grid-template-columns: 1fr;
  }

  .about h2 {
    text-align: center;
  }
  .contact-info h2
  .skill h2 {
    font-size: var(--title-h3-l);
  }


  .project h2,
  .githubsection h2,
  .services h2,
  .experience h2 {
    text-align: center;
  }
 
 .experience p,
 .githubsection p,
 .project p{
  line-height: 1.5rem;
  text-align: center;
 }

.contact-info h2 {
  font-size: var(--title-h3-l);
  text-align: center;
  padding: 15px 0;
}

/* .contactus h2 {
 padding-bottom: 1rem;
} */

.social-media {
  flex-direction: column;
  font-size: 1rem;
}

p.typewritter {
  font-size: 14px;
  /* scale text */
  border-right: 2px solid #fff;
  animation: typing 4s steps(25, end), blink-caret .75s step-end infinite;
}

}



@media (max-width:320px) {
  .projList img {
    height: 21px;
    margin: 0 1px;
  }

}